@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container containerContent">
        <div class="row contentRow">
            <div class="content col-12 col-sm-12 col-md-6 col-lg-5">
                <div>
                    <img src="~/pics/sq-1.jpg" alt="post" class="" width="100%" />
                </div>
                <div class="mt-1">
                    <p>cute dog</p>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-danger btn-sm mr-1">
                        <span class="pl-3 pr-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                            </svg> 5
                        </span>
                    </button>
                    <button type="button" class="btn btn-outline-info btn-sm ml-1">
                        <span class="pl-3 pr-3">
                            <svg style="transform: scaleX(-1);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z" />
                            </svg> 2
                        </span>
                    </button>
                </div>
            </div>
            <div class="content col-12 col-sm-12 col-md-6 col-lg-4">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><span class="usernameComment">jondoe</span> the cutest little thing</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span>
                                        <input type="text" class="form-control" placeholder="Username" aria-label="username" aria-describedby="button-addon2">
                                    </span>
                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span>
                                        <input type="text" class="form-control" placeholder="Comment" aria-label="comment" aria-describedby="button-addon2">
                                    </span>
                                    <span class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
