<section>
    <div class="container containerContent">
        <div class="row contentRow">
            <div class="content col-12 col-sm-12 col-md-6 col-lg-5">
                @{
                    Estagram.Models.DbModel db = new Estagram.Models.DbModel();
                    int id = int.Parse(Request.QueryString["id"]);
                    List<Estagram.Models.Post> posts = db.Posts.SqlQuery("SELECT * FROM Posts WHERE id=" + id).ToList();
                    List<Estagram.Models.Comment> comments = db.Comments.SqlQuery("SELECT * FROM Comments where post_id=" + id).ToList();
                }
                <div>
                    <img src="~/Uploads/@posts[0].picture" alt="Photo" class="" width="100%" height="400" />
                </div>
                <div class="mt-1">
                    <p>@posts[0].description</p>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-warning btn-sm-12 ml-1 w-100" onclick="postDelete(@id)">
                        <span class="pl-3 pr-3">
                            Delete Post
                        </span>
                    </button>
                </div>
                <div id="postIfNotDelete"></div>
            </div>
            <div class="content col-12 col-sm-12 col-md-6 col-lg-4">
                <table class="table table-sm">
                    <tbody>
                        @{
                            foreach (var comment in comments)
                            {
                                <tr id="commentDelete-@comment.id">
                                    <td><span class="usernameComment">@comment.username </span>@comment.comment1<button class="btn btn-outline-danger btn-sm float-right" type="button" onclick="commentdelete(@comment.id)">Delete</button></td>
                                </tr>
                                <tr><div id="commentIfNotDelete-@comment.id"></div></tr>
                            }
                        }
                        <tr>
                            <td>
                                <div class="">
                                    <span>
                                        <input type="text" class="form-control" id="username" placeholder="Username">
                                    </span>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="">
                                    <span>
                                        <input type="text" class="form-control" id="comment" placeholder="Comment">
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="input-group ml-3">
                    <button class="btn btn-outline-primary" type="button" id="commentAdd">Add</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var postId = @id;
    $("#commentAdd").click(function () {
        var username = $("#username").val();
        var comment = $("#comment").val();
        $.ajax({
            url: "CommentAdd",
            type: "post",
            data: "post_id=" + postId + "&username=" + username + "&comment=" + comment,
            success: function (result) {
                if (result == 1) {
                    location.reload();
                } else {
                    $("#ifNotSuccess").html('<div class="alert alert-danger" role="alert">Comment couldn"t add</div>');
                }
            }
        });
    });

    function commentdelete(id) {
        $.ajax({
            url: "CommentDelete",
            type: "post",
            data: "comment_id=" + id,
            success: function (result) {
            if (result == 1) {
                location.reload();
            } else {
                $("#commentIfNotDelete-" + id).html('<div class="alert alert-danger" role="alert">Comment couldn"t delete</div>');
            }
            }
        });
    }

    function postDelete(postID) {
        $.ajax({
            url: "PostDelete",
            type: "post",
            data: "postID=" + postID,
            success: function (result) {
                if (result == 1) {
                    location.replace("/");
                } else {
                    $("#postIfNotDelete").html('<div class="alert alert-danger" role="alert">Post couldn"t delete</div>');
                }
                
            }
        });
    }
</script>
