<section id="newPost" class="text-center mt-5">
    <form id="form" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Choose photo:</label><br />
            <input type="file" name="file" class="form-control1" id="file">
        </div>
        <div class="form-group">
            <label for="description">Description:</label><br />
            <input type="text" name="description" class="form-control1" id="description">
        </div>
        <button id="submit" class="btn btn-primary">Submit</button>
        <div class="form-group">
            <div id="ifError"></div>
        </div>
    </form>
</section>


<script>
    $("#submit").click(function () {
        var formData = new FormData($("#form")[0]);
        formData.append("image", $("input[type=file]")[0].files[0]);

        $.ajax({
            url: "PostAdd",
            type: "post",
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {
                alert('result');
                if (result == "1") {
                    location.replace("/");
                } else {
                    $("#ifError").html('<div class="alert alert-success" role="alert">Post couldn"t create</div>')
                }
            }
        });
    });
</script>
