<section id="newPost" class="text-center mt-5">
    <div class="form-group">
        <label for="urlPhoto">Link of photo:</label><br />
        <input type="text" class="form-control1" id="urlPhoto">
    </div>
    <div class="form-group">
        <label for="description">Description:</label><br />
        <input type="text" class="form-control1" id="description">
    </div>
    <button id="submit" class="btn btn-primary">Submit</button>
    <div class="form-group">
        <div id="ifError"></div>
    </div>
</section>


<script>
    $("#submit").click(function () {
        var urlPhoto = $("#urlPhoto").val();
        var description = $("#description").val();
        $.ajax({
            url: "PostAdd",
            type: "post",
            data: "url_photo=" + urlPhoto + "&description=" + description,
            success: function (result) {
                if (result == "1") {
                    location.replace("/");
                } else {
                    $("#ifError").html('<div class="alert alert-success" role="alert">Error</div>')
                }
            }
        });
    });
</script>
