@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container newsfeedContainer">
        <div class="row newsfeedRow">
            <div class="newsfeed col col-12 col-sm-6 col-md-4 col-lg-3 p-3 m-3">
                <a href="~/Post/Content">
                    <img src="~/pics/sq-1.jpg" alt="post" class="" width="200" />
                </a>
                <p>cute dog</p>
                <button type="button" class="btn btn-outline-danger btn-sm">Like (5)</button>
                <button type="button" class="btn btn-outline-info btn-sm">Comment (2)</button>
            </div>

            <div class="newsfeed col col-12 col-sm-6 col-md-4 col-lg-3 p-3 m-3">
                <a href="~/Post/Content">
                    <img src="~/pics/sq-2.jpg" alt="post" class="" width="200" />
                </a>
                <p>#snow</p>
                <button type="button" class="btn btn-outline-danger btn-sm">Like (5)</button>
                <button type="button" class="btn btn-outline-info btn-sm">Comment (2)</button>
            </div>

            <div class="newsfeed col col-12 col-sm-6 col-md-4 col-lg-3 p-3 m-3">
                <a href="~/Post/Content">
                    <img src="~/pics/sq-1.jpg" alt="post" class="" width="200" />
                </a>
                <p>cute dog</p>
                <button type="button" class="btn btn-outline-danger btn-sm">Like (5)</button>
                <button type="button" class="btn btn-outline-info btn-sm">Comment (2)</button>
            </div>

            <div class="newsfeed col col-12 col-sm-6 col-md-4 col-lg-3 p-3 m-3">
                <a href="~/Post/Content">
                    <img src="~/pics/sq-2.jpg" alt="post" class="" width="200" />
                </a>
                <p>#snow</p>
                <button type="button" class="btn btn-outline-danger btn-sm">Like (5)</button>
                <button type="button" class="btn btn-outline-info btn-sm">Comment (2)</button>
            </div>

            <div class="newsfeed col col-12 col-sm-6 col-md-4 col-lg-3 p-3 m-3">
                <a href="~/Post/Content">
                    <img src="~/pics/sq-1.jpg" alt="post" class="" width="200" />
                </a>
                <p>cute dog</p>
                <button type="button" class="btn btn-outline-danger btn-sm">Like (5)</button>
                <button type="button" class="btn btn-outline-info btn-sm">Comment (2)</button>
            </div>

            <div class="newsfeed col col-12 col-sm-6 col-md-4 col-lg-3 p-3 m-3">
                <a href="~/Post/Content">
                    <img src="~/pics/sq-2.jpg" alt="post" class="" width="200" />
                </a>
                <p>#snow</p>
                <button type="button" class="btn btn-outline-danger btn-sm">Like (5)</button>
                <button type="button" class="btn btn-outline-info btn-sm">Comment (2)</button>
            </div>

            <div class="newsfeed col col-12 col-sm-6 col-md-4 col-lg-3 p-3 m-3">
                <a href="~/Post/Content">
                    <img src="~/pics/sq-1.jpg" alt="post" class="" width="200" />
                </a>
                <p>cute dog</p>
                <button type="button" class="btn btn-outline-danger btn-sm">Like (5)</button>
                <button type="button" class="btn btn-outline-info btn-sm">Comment (2)</button>
            </div>

            <div class="newsfeed col col-12 col-sm-6 col-md-4 col-lg-3 p-3 m-3">
                <a href="~/Post/Content">
                    <img src="~/pics/sq-1.jpg" alt="post" class="" width="200" />
                </a>
                <p>cute dog</p>
                <button type="button" class="btn btn-outline-danger btn-sm">Like (5)</button>
                <button type="button" class="btn btn-outline-info btn-sm">Comment (2)</button>
            </div>
        </div>
    </div>
</body>
</html>
